<!DOCTYPE html>
%html
  %head
    %title Invitations Using ActiveModel::Model
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap
      = render 'shared/header'
      .container
        = yield
      #push
    #footer.text-center
      = render 'shared/footer'
